.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

.file-manager-container{
    height: 100%;
    background-color: #EEF3FA;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
  
}
.categories-container{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    list-style-type: none;
}
.all-items-container{
    height: 80%;
    max-width: 80%;
    overflow-x: scroll;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1%;
}

.files-container{
width: 100%;
}

thead,tbody{
    padding: 5px;
   
}

.trow{
    padding: 5px;
}

.search-input-container {
    width: 97%;
    display: flex;
    background-color: #EEF3FA;
    padding-top: 5px;
    padding-left: 16px;
    padding-bottom: 5px;
    padding-right: 16px;
    justify-content: end;
   
  }
  .search-input {
    color: #0f172a;
    height: 20px;
    background-color: #EEF3FA;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    margin-bottom: 5px;
    margin-top: -5px;
  }
  .search-icon{
    margin-top: 10px;
  }
  .category-heading{
    margin: 0px;
  }
  .category-icon{
    height: 20px;
    width: 20px;
    margin-bottom: 8px;
    margin-left: 5px;
  }